<div class="row">
    <div class="row">
        {{md-input value=model.accountHolderName label=(t "components.bancontact-payment.account-holders-name")
            icon="credit_card" class="col s12" validate=true errors=errors.accountHolderName}}
    </div>
</div>
<div class="row" style="min-height: 30px">
    <div class='col s3'>
        {{#if isSubmittingPayment}}
            {{fabb-spinner}}
            {{waitMessage}}
        {{/if}}
    </div>
    <div class='col s9 bcn-button'>
        <a class="waves-effect waves-light btn right" {{action 'submitPayment'}}>{{t "components.credit-card-payment.submit"}}</a>
    </div>
</div>

{{yield}}
