<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="validate" value={{accountHolder}}>
                <label for="account_holders_name">{{t "components.bancontact-payment.account-holders-name"}}</label>
            </div>
        </div>
    </form>
    <a class="waves-effect waves-light btn right" {{action 'startBancontactProcedure'}}>{{t "components.bancontact-payment.start-payment"}}</a>
</div>

{{yield}}
