<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">shopping_basket</i>{{t "components.checkout-cart-overview.items-overview"}}</div>
        <div class="collapsible-body">
            {{#each cartService.cart.shoppingCartItems as |row|}}
                {{shopping-cart-overview-item item=row}}
            {{/each}}
        </div>
    </li>
</ul>
<blockquote>
    <b> {{t "components.checkout-cart-overview.shipping"}}: </b> <i> {{t "components.checkout-cart-overview.shipping-amount"}} </i> <br>
    <b>{{t "components.checkout-cart-overview.total"}}: </b> {{total}}
</blockquote>
