{{#if showDialog}}
  <div class="cookies-dialog row  grey white-text valign-wrapper">
      <div class="col s10">
          {{#unless media.isS }}
            <div class="left-align">
              {{t "components.cookies-dialog.this-site-uses-cookies"}},
               {{t "components.cookies-dialog.for-more-info-click"}}
              <a href="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Cookie%20Policy.pdf?alt=media&token=4e26ed29-1619-414d-b357-4d0f38aaa3fc" target="_blank">{{t "components.cookies-dialog.here"}}</a>.</div>
           {{else}}
            <div class="left-align">
              {{t "components.cookies-dialog.this-site-uses-cookies"}}
               <br> {{t "components.cookies-dialog.for-more-info-click"}}
                <a href="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Cookie%20Policy.pdf?alt=media&token=4e26ed29-1619-414d-b357-4d0f38aaa3fc" target="_blank">{{t "components.cookies-dialog.here"}} </a>.</div>
           {{/unless}}
      </div>
      <div class="col s2" style="padding-right: 0px;">
          <a class="waves-effect waves-light btn right" {{action 'acceptCookies'}}>ok!</a>
      </div>
  </div>
{{/if}}
