<div id={{id}} class="modal">
<div class="modal-content red lighten-5">
    <h4>{{title}}</h4>
    <p> <i class="material-icons prefix">sentiment_dissatisfied</i> </p>
    <p>{{t "components.error-modal.the-error-message-is"}}: <br>
    {{message}}</p>
    <p>{{t "components.error-modal.if-you-dont-know"}}</p>
</div>
<div class="modal-footer">
<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" onclick={{action 'onAgree'}}>ok</a>
</div>
</div>
