<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">accessibility</i>{{t "component.sizetable.menu"}}</div>
    <div class="collapsible-body">

      <table class="striped responsive-table">
        <thead>
          <tr>
              <th>{{t "component.sizetable.size"}}</th>
              <th>{{t "component.sizetable.chest"}}</th>
              <th>{{t "component.sizetable.waist"}}</th>
              <th>{{t "component.sizetable.hip"}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Small</td>
            <td>86 cm</td>
            <td>70 cm</td>
            <td>95 cm</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>92 cm</td>
            <td>78 cm</td>
            <td>99 cm</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>98 cm</td>
            <td>85 cm</td>
            <td>104 cm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>
