<!-- Dropdown Structure -->
<ul id={{id}} class="dropdown-content">
  <li>
      <a href="#!" {{action 'setLocale' 'be' 'nl'}}>
          nl
     </a>
  </li>
  <li>
      <a href="#!" {{action 'setLocale' 'gb' 'en'}}>
          en
      </a>
  </li>
</ul>
<a class="locale-selector" href="#!" data-activates={{id}}>
    {{#if language}}
    {{language}}
    {{/if}}
    <i class="locale-selector-arrow material-icons right">arrow_drop_down</i>
</a>

{{yield}}
