<!-- Dropdown Structure -->
{{#if session.isAuthenticated}}
<ul id="dropdown1" class="dropdown-content">
  <li>{{#link-to 'admin.product-audiences'}}audience{{/link-to}}</li>
  <li>{{#link-to 'admin.product-variant-sizes'}}sizes{{/link-to}}</li>
  <li>{{#link-to 'admin.products'}}products{{/link-to}}</li>
  <li>{{#link-to 'admin.stock-items'}}manage stock{{/link-to}}</li>
  <li>{{#link-to 'admin.faq'}}manage faq{{/link-to}}</li>
</ul>
{{/if}}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      {{#link-to 'index' class="brand-logo"}}
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/logomediumcompressed.png?alt=media&token=cf22daf6-1ef8-43ae-bfd6-ed21ee3fc19c"/>
      {{/link-to}}
      {{#link-to 'shopping-cart' class="right menu-shopping-cart"}} <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/shoppingcarticoncompressed.png?alt=media&token=3e8cce4a-df41-4113-ad29-159ee13efe73" height="25"/> {{/link-to}}
      {{locale-selector class="right menu-locale-selector"}}
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li>
            <a href="https://www.facebook.com/fabbrikka.clothing/" target="_blank">
                  <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/sociallogos%2Ffacebookgoed.png?alt=media&token=d2d04d17-1efd-4a17-a7b2-de599f051264" alt="Facebook" class="social-logo">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/fabbrikka/" target="_blank">
              <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/sociallogos%2Finstagramgoed.png?alt=media&token=31df1e49-7e50-4c64-9a7c-7ede6ab20723" alt="Instagram" class="social-logo">
            </a>
          </li>
          <li>{{#link-to 'index'}}{{t "components.navbar-mat-fabb.shop"}} {{/link-to}}</li>
          {{#if isFreeTryOutAllowed}}
            <li>{{#link-to 'free-try-out-rules'}} {{t "components.navbar-mat-fabb.free-try"}} {{/link-to}}</li>
          {{/if}}
          <li>{{#link-to 'faq'}} faq {{/link-to}}</li>
          <li>{{#link-to 'about'}}{{t "components.navbar-mat-fabb.about"}} {{/link-to}}</li>
          {{#if session.isAuthenticated}}
          <li><a class="dropdown-button" href="#" data-activates="dropdown1">admin<i class="material-icons right">arrow_drop_down</i></a></li>
          {{/if}}
          <!-- Dropdown Trigger -->
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/"> {{t "components.navbar-mat-fabb.shop"}} </a></li>
          {{#if isFreeTryOutAllowed}}
            <li>{{#link-to 'free-try-out-rules'}} {{t "components.navbar-mat-fabb.free-try"}} {{/link-to}}</li>
          {{/if}}
          <li>{{#link-to 'faq'}} faq {{/link-to}}</li>
          <li>{{#link-to 'about'}}{{t "components.navbar-mat-fabb.about"}} {{/link-to}}</li>
          <li>
            <a href="https://www.facebook.com/fabbrikka.clothing/" target="_blank">
                  <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/sociallogos%2Ffacebookgoed.png?alt=media&token=d2d04d17-1efd-4a17-a7b2-de599f051264" alt="Facebook" class="social-logo">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/fabbrikka/" target="_blank">
              <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/sociallogos%2Finstagramgoed.png?alt=media&token=31df1e49-7e50-4c64-9a7c-7ede6ab20723" alt="Instagram" class="social-logo">
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>
