<!-- Dropdown Structure -->
{{#if session.isAuthenticated}}
<ul id="dropdown1" class="dropdown-content">
  <li>{{#link-to 'admin.product-audiences'}}audience{{/link-to}}</li>
  <li>{{#link-to 'admin.product-variant-sizes'}}sizes{{/link-to}}</li>
  <li>{{#link-to 'admin.products'}}products{{/link-to}}</li>
</ul>
{{/if}}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      {{#link-to 'index' class="brand-logo"}}
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/moose.png?alt=media&token=e0ec40aa-38fb-4c2b-8a38-9cf33d0afbff"/>
      {{/link-to}}
      {{#link-to 'shopping-cart' class="right menu-shopping-cart"}} <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/cart.png?alt=media&token=fea4bdd8-81ff-4b91-9ff4-d67568ce8800"/> {{/link-to}}
      {{locale-selector class="right menu-locale-selector"}}
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>{{#link-to 'index'}}{{t "components.navbar-mat-fabb.shop"}} {{/link-to}}</li>
          <li><a href="#">{{t "components.navbar-mat-fabb.about"}}</a></li>
          {{#if session.isAuthenticated}}
          <li><a class="dropdown-button" href="#" data-activates="dropdown1">admin<i class="material-icons right">arrow_drop_down</i></a></li>
          {{/if}}
          <!-- Dropdown Trigger -->
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">{{t "components.navbar-mat-fabb.shop"}}</a></li>
          <li><a href="#">{{t "components.navbar-mat-fabb.about"}}</a></li>
          <li>{{#link-to 'shopping-cart'}} <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/cart.png?alt=media&token=fea4bdd8-81ff-4b91-9ff4-d67568ce8800"/> {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>
</div>
