<!-- Dropdown Structure -->
{{#if session.isAuthenticated}}
<ul id="dropdown1" class="dropdown-content">
  <li>{{#link-to 'admin.product-audiences'}}audience{{/link-to}}</li>
  <li>{{#link-to 'admin.product-variant-sizes'}}sizes{{/link-to}}</li>
  <li>{{#link-to 'admin.products'}}products{{/link-to}}</li>
  <li>{{#link-to 'admin.stock-items'}}manage stock{{/link-to}}</li>
</ul>
{{/if}}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      {{#link-to 'index' class="brand-logo"}}
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/logoklein.png?alt=media&token=fa5687af-7f58-4864-ad5e-b79aa644be1b"/>
      {{/link-to}}
      {{#link-to 'shopping-cart' class="right menu-shopping-cart"}} <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/shoppingcarticon.png?alt=media&token=1d72814f-b34c-4ebb-895a-2bd84f43d67e"/> {{/link-to}}
      {{locale-selector class="right menu-locale-selector"}}
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>{{#link-to 'index'}}{{t "components.navbar-mat-fabb.shop"}} {{/link-to}}</li>
          <li>{{#link-to 'about'}}{{t "components.navbar-mat-fabb.about"}} {{/link-to}}</li>
          {{#if session.isAuthenticated}}
          <li><a class="dropdown-button" href="#" data-activates="dropdown1">admin<i class="material-icons right">arrow_drop_down</i></a></li>
          {{/if}}
          <!-- Dropdown Trigger -->
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">{{t "components.navbar-mat-fabb.shop"}}</a></li>
          <li>{{#link-to 'about'}}{{t "components.navbar-mat-fabb.about"}} {{/link-to}}</li>
        </ul>
      </div>
    </nav>
</div>
