{{#if hasBlock}}
  {{yield this}}
{{else}}
<div class={{inputFieldClass}}>
    <i class="material-icons prefix" style={{iconStyle}}>{{icon}}</i>
    {{input value=value
            types=geoTypes
            placeholder="city, country"
        }}
</div>
{{/if}}
{{yield}}
