{{#link-to onClickLinkTo item.id tagName='div' class="card hoverable"}}
    {{#if media.isS}}
        <div class="card-image">
            <img src={{primaryImageURL}}>
        </div>
    {{else}}
        <div class="card-image waves-effect waves-block waves-light">
            <img src={{primaryImageURL}}>
        </div>
    {{/if}}


    <div class="card-content waves-effect waves-block waves-light">
        <div style="width:100%; float:left;">
            <span class="card-title left">{{name}}</span>
            <span class="card-title right">{{price}}</span>
        </div>
        <div style="width:100%; float:left;">
            <span class="card-subscript">free shipping in europe!</span>
        </div>
    </div>
{{/link-to}}
