{{#link-to onClickLinkTo item.id tagName='div' class="card hoverable"}}
    {{#if media.isS}}
        {{#swiper-container updateFor=images pagination=true  speed=800 effect='fade' slidesPerView=1 spaceBetween=0 centered=true loop=true}}
            {{#each item.productImages as |image|}}
                {{#swiper-slide }}<img  class='product-details-caroussel' src={{image.accessURL}}/>{{/swiper-slide}}
            {{/each}}
        {{/swiper-container}}
    {{else}}
        <div class="card-image waves-effect waves-block waves-light">
            <img src={{primaryImageURL}}>
        </div>
    {{/if}}


    <div class="card-content waves-effect waves-block waves-light">
        <div style="width:100%; float:left;">
            <span class="card-title left">{{name}}</span>
            <span class="card-title right">{{price}}</span>
        </div>
        <div style="width:100%; float:left;">
            <span class="card-subscript">{{t "components.product-card.free-shipping"}}</span>
        </div>
    </div>
{{/link-to}}
