{{fabb-max-free-tries-reached-modal status=displayModalMaxFreeTriesReached}}
<div class="row">
    {{#if isPageReady}}
    	<div class="col s12 m12 l12">
    		<div class="col s12 m3">
    			<img src={{image}} style='width:100%'/>
    		</div>
    		<div class="col s12 l9 m9">
    		<h5> {{name}} </h5>
    			<div class="row">
    				<div class="col s6 m6 l6">
                        {{#x-select  class="cart-table-td cart-table-td-select col s12 m10" value=size on-change=(action 'updateSize') as |xs|}}
                           {{#each availibleSizes as |aSize|}}
                             {{#xs.option value=aSize.id}}{{aSize.name}}{{/xs.option}}
                           {{/each}}
                        {{/x-select}}
    				</div>
    				<div class="col s6 m6 l6">
                        {{md-input value=quantity
                                   label=(t "components.shopping-cart-overview-row.amount")
                                   type="number"
                                   class="cart-table-td col s10"
                                   validate=true
                                   errors=validationError
                                   focusOut=(action 'updateQuantity')}}
    				</div>
          </div>
          <div class="row">
            <div>
              <div class="col s6 m6 l6">
                {{md-check text="free try" isSelected=isTryOut change=(action 'updateIsTryOut')}}
              </div>
            </div>
            <div class="col s6 m6 l6">
             <a class="btn-floating btn-small waves-effect waves-light red" {{action 'delete' item.id}}>
              <i class="material-icons">delete</i>
             </a>
             </div>
          </div>
    		</div>
    	</div>
    {{else}}
        {{fabb-spinner}}
    {{/if}}
</div>
{{yield}}
