{{#if isPageReady}}
<td>
  <div class="cart-table-td-div-image">
    <img src={{image}}/>
  </div>
  <div class="cart-table-td-div-image-text">{{name}}</div>
</td>
<td>
  {{#x-select  class="cart-table-td cart-table-td-select col s12 m10" value=size on-change=(action 'updateSize') as |xs|}}
     {{#each availibleSizes as |aSize|}}
       {{#xs.option value=aSize.id}}{{aSize.name}}{{/xs.option}}
     {{/each}}
  {{/x-select}}
</td>
<td>
    {{md-input value=quantity
               label=(t "components.shopping-cart-overview-row.amount")
               type="number"
               class="cart-table-td col s10"
               validate=true
               errors=validationError
               focusOut=(action 'updateQuantity')}}
</td>
<td>
  {{md-check text=(t "components.shopping-cart-overview-item.free-try")
    isSelected=isTryOut change=(action 'updateIsTryOut')}}
</td>
<td>
    <a class="btn-floating btn-small waves-effect waves-light red" {{action 'delete' item.id}}>
       <i class="material-icons">delete</i>
    </a>
</td>
{{else}}
    {{fabb-spinner}}
{{/if}}
