{{#unless orderConfirmed}}
    <h2 class="header">{{t "templates.shopping-cart.checkout.checkout"}}</h2>

    <div class="row">
        <div class="col s12 l6 m12">
            <h4>{{t "templates.shopping-cart.checkout.delivery-address"}}</h4>
            {{md-input value=model.name label=(t "templates.shopping-cart.checkout.name")
                icon="face" class="col s12" validate=true errors=errors.name}}

            {{md-input value=model.email label=(t "templates.shopping-cart.checkout.email")
                icon="email" class="col s12" validate=true errors=errors.email}}

            {{md-input value=model.street label=(t "templates.shopping-cart.checkout.street")
                    icon="home" class="col s8 m10" validate=true errors=errors.street}}

            {{md-input value=model.houseNumber label=(t "templates.shopping-cart.checkout.number-bus")
                                class="col s4 m2 right" validate=true errors=errors.houseNumber}}

            {{md-input value=model.city label=(t "templates.shopping-cart.checkout.city-country")
                                    class="col s8  m8" validate=true errors=errors.city icon="location_city"}}

            {{md-input value=model.zip label=(t "templates.shopping-cart.checkout.zip")
                                    class="col s4 m4 right" validate=true errors=errors.zip}}
            {{#country-selector extraClass="countrySelector"
                        optionLabelPath="content.name"
                        optionValuePath="content.name"
                        value=model.country
                        content=availibleCountries
                        prompt=(t "templates.shopping-cart.checkout.choose-country")
                        validate=true errors=errors.country icon="public"}} {{/country-selector}}
            (*) {{t "templates.shopping-cart.checkout.country-not-in-list"}} <a href="http://etsy.com" target="_blank"> etsy-shop </a>.
        </div>

        <div class="col s12 l6 m12">
            <h4>{{t "templates.shopping-cart.checkout.order-summary"}}</h4>
            {{checkout-cart-overview}}

            <h4>{{t "templates.shopping-cart.checkout.payment"}}</h4>
            {{#md-select optionLabelPath="content.name" optionValuePath="content.value" value=chosenPaymentMethod
                content=paymentMethods prompt=(t "templates.shopping-cart.checkout.payment-prompt") }}
            {{/md-select}}

            {{#if (equal-strings chosenPaymentMethod "visa")}}
                {{credit-card-payment onPay=(action 'onSubmitPayment')
                 onPayError=(action 'onSubmitPaymentError') onPaySuccess=(action 'onSubmitPaymentSuccess')}}
            {{/if}}
            {{!-- {{#if (equal-strings chosenPaymentMethod "bancontact")}}
                {{bancontact-payment}}
            {{/if}} --}}
        </div>
    </div>
    {{error-modal status=hasBackendError title=(t "templates.shopping-cart.checkout.error-title") message=backendErrorText}}

{{else}}
<h2 class="header">{{t "templates.shopping-cart.checkout.order-confirmation.title"}}</h2>
<div class ="row">
    <div class ="col push-s1 s11">
        <div class="section">
            <h5>{{t "templates.shopping-cart.checkout.order-confirmation.order-id-title"}}</h5>
            <p><b>{{orderConfirmation.id}}</b></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>
                {{t "templates.shopping-cart.checkout.order-confirmation.email-sent-to"}} <b> {{orderConfirmation.customer.email}}! </b> <br>
                {{t "templates.shopping-cart.checkout.order-confirmation.in-case-of-issues"}} <a href="mailto:hello@fabbbrikka.com">hello@fabbbrikka.com</a>. <br>
                {{t "templates.shopping-cart.checkout.order-confirmation.love-helping"}} <i class="material-icons prefix">mood</i>
            </p>
            {{#link-to 'index' class="left waves-effect waves-light btn"}}{{t "templates.shopping-cart.checkout.order-confirmation.back"}}{{/link-to}}
        </div>
    </div>
</div>


{{/unless}}




{{outlet}}
