{{#unless orderConfirmed}}
    <h1 class="header">{{t "templates.shopping-cart.checkout.checkout"}}</h1>
    {{currentURL}}

    <div class="row">
        <div class="col s12 l6 m12">
            <h3 class="header">{{t "templates.shopping-cart.checkout.delivery-address"}}</h3>
            {{md-input value=model.name autocomplete="off" label=(t "templates.shopping-cart.checkout.name")
                icon="face" class="col s12" validate=true errors=errors.name}}

            {{md-input value=model.email autocomplete="off" label=(t "templates.shopping-cart.checkout.email")
                icon="email" class="col s12" validate=true errors=errors.email}}

            {{md-input value=model.street autocomplete="off" label=(t "templates.shopping-cart.checkout.street")
                    icon="home" class="col s8 m10" validate=true errors=errors.street}}

            {{md-input value=model.houseNumber autocomplete="off" label=(t "templates.shopping-cart.checkout.number-bus")
                                class="col s4 m2 right" validate=true errors=errors.houseNumber}}

            {{md-input value=model.city autocomplete="off" label=(t "templates.shopping-cart.checkout.city-country")
                                    class="col s8  m8" validate=true errors=errors.city icon="location_city"}}

            {{md-input value=model.zip autocomplete="off" label=(t "templates.shopping-cart.checkout.zip")
                                    class="col s4 m4 right" validate=true errors=errors.zip}}
            {{#country-selector extraClass="countrySelector"
                        optionLabelPath="content.name"
                        optionValuePath="content.code"
                        value=model.country
                        content=availibleCountries
                        prompt=(t "templates.shopping-cart.checkout.choose-country")
                        validate=true errors=errors.country icon="public"}} {{/country-selector}}

            {{t "templates.shopping-cart.checkout.delivery-time"}}
            <br> <br>
            (*) {{t "templates.shopping-cart.checkout.country-not-in-list"}} <a href="mailto:hello@fabbrikka.com" target="_blank"> hello@fabbrikka.com </a>.
        </div>
        <div class="col s12 l6 m12">
            <h3 class="header">{{t "templates.shopping-cart.checkout.order-summary"}}</h3>
            {{checkout-cart-overview}}
            <h3 class="header">{{t "templates.shopping-cart.checkout.payment"}} <a href="http://www.stripe.com" target="_blank">Stripe</a></h3>
            {{#if hasFreeTries}}
              <div class="row">
                <div class="col s12">
                  <i class="material-icons">warning</i> {{t "templates.shopping-cart.checkout.free-try-warning"}}
                </div>
              </div>
            {{/if}}

            {{!--TODO: rename component!!!  --}}
            {{#country-selector optionLabelPath="content.name" optionValuePath="content.value" value=chosenPaymentMethod
                content=paymentMethods prompt=(t "templates.shopping-cart.checkout.payment-prompt") }}
            {{/country-selector}}

            {{#if (equal-strings chosenPaymentMethod "visa")}}
                {{credit-card-payment onPay=(action 'onSubmitPayment')
                 onPayError=(action 'onSubmitPaymentError') onPaySuccess=(action 'onSubmitPaymentSuccess')}}
            {{/if}}

            {{#if (equal-strings chosenPaymentMethod "bancontact")}}
                {{bancontact-payment onPay=(action 'onSubmitPayment') clientSecret=clientSecretQP source=sourceQP
                 onPayError=(action 'onSubmitPaymentError') onPaySuccess=(action 'onSubmitPaymentSuccess')
                 accountHolderName=model.name totalAmount=totalAmount paymentType="bancontact"}}
            {{/if}}

            {{#if (equal-strings chosenPaymentMethod "sofort")}}
                {{sofort-payment onPay=(action 'onSubmitPayment') clientSecret=clientSecretQP source=sourceQP
                 onPayError=(action 'onSubmitPaymentError') onPaySuccess=(action 'onSubmitPaymentSuccess')
                 totalAmount=totalAmount selectedCountry=model.sofortCountry}}
            {{/if}}

            {{#if (equal-strings chosenPaymentMethod "ideal")}}
                {{bancontact-payment onPay=(action 'onSubmitPayment') clientSecret=clientSecretQP source=sourceQP
                 onPayError=(action 'onSubmitPaymentError') onPaySuccess=(action 'onSubmitPaymentSuccess')
                 accountHolderName=model.name totalAmount=totalAmount paymentType="ideal"}}
            {{/if}}

            {{#unless media.isS}}
              {{#md-btn class="btn-back" text=(t "components.buttons.back") action=(route-action 'back')}}{{/md-btn}}
            {{/unless}}

        </div>
    </div>
    {{error-modal status=hasBackendError title=(t "templates.shopping-cart.checkout.error-title") message=backendErrorText}}
{{else}}
<h2 class="header">{{t "templates.shopping-cart.checkout.order-confirmation.title"}}</h2>
<div class ="row">
    <div class ="col push-s1 s11">
        <div class="section">
            <h5>{{t "templates.shopping-cart.checkout.order-confirmation.order-id-title"}}</h5>
            <p><b>{{orderConfirmation.id}}</b></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>
                {{t "templates.shopping-cart.checkout.order-confirmation.email-sent-to"}} <b> {{orderConfirmation.customer.email}}! </b> <br>
                {{t "templates.shopping-cart.checkout.order-confirmation.in-case-of-issues"}} <a href="mailto:hello@fabbrikka.com">hello@fabbrikka.com</a>. <br>
                {{t "templates.shopping-cart.checkout.order-confirmation.love-helping"}} <i class="material-icons prefix">mood</i>
            </p>
            {{#link-to 'index' class="left waves-effect waves-light btn"}}{{t "templates.shopping-cart.checkout.order-confirmation.back"}}{{/link-to}}
        </div>
    </div>
</div>


{{/unless}}
{{outlet}}
