 <div class="container">
<div class="row">
<h2 class="header center-align">{{t "templates.shopping-cart.index.title"}}</h2>
	{{#if hasItems}}
		<div class="col s12 l6">
            <table>
                <thead>
                    <tr>
                        <th style="text-align:center;">{{t "templates.shopping-cart.index.item"}}</th>
                        <th>{{t "templates.shopping-cart.index.size"}}</th>
                        <th>{{t "templates.shopping-cart.index.units"}}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartService.cart.shoppingCartItems as |row|}}
                      {{shopping-cart-overview-row item=row}}
                    {{/each}}
                </tbody>

            </table>
		</div>

		<div class="col s12 l5 push-l1">
			<div class="row">
                <div class="section">
                <span class="checkout-total-hd">{{t "templates.shopping-cart.index.subtotal"}}</span>: <span class="checkout-total-d">{{total}}  &euro;</span>
                </div>
            <div class="divider"></div>
            <div class="section">
                <span class="checkout-total-hd">{{t "templates.shopping-cart.index.shipping"}} </span>:
                <span class="checkout-total-d">{{t "templates.shopping-cart.index.shipping-cost"}}</span>
            </div>
            <div class="divider"></div>
            <div class="section">
                <span class="checkout-total-gran-total">{{t "templates.shopping-cart.index.grand-total"}}</span>: <span class="checkout-total-d"> {{total}}  &euro; </span>
            </div>
            <div class="section">
                {{t "templates.shopping-cart.index.disclaimer"}}
            </div>
			</div>
			<div class="row">
                {{#if media.isXs}}
                <div class="row">
                    {{#link-to 'index' class="col s12 left waves-effect waves-light btn"}}{{t "templates.shopping-cart.index.shop-more"}}{{/link-to}}
                </div>
                <div class="row">
                    {{#link-to 'shopping-cart.checkout' class="col s12 waves-effect waves-light btn"}}{{t "templates.shopping-cart.index.checkout"}}{{/link-to}}
                </div>
                {{else}}
                <div class="col s12">
                    {{#link-to 'index' class="left waves-effect waves-light btn"}}{{t "templates.shopping-cart.index.shop-more"}}{{/link-to}}
                    {{#link-to 'shopping-cart.checkout' class="right waves-effect waves-light btn"}}{{t "templates.shopping-cart.index.checkout"}}{{/link-to}}
                </div>
                {{/if}}
			</div>
		</div>
        {{else}}
            <h3>{{t "templates.shopping-cart.index.empty-cart"}}</h3>
        {{/if}}
</div>
</div>
